html {
  background-image: linear-gradient(
    60deg,
    hsl(52deg 100% 87%) 0%,
    hsl(24deg 100% 86%) 14%,
    hsl(332deg 100% 87%) 29%,
    hsl(5deg 100% 85%) 43%,
    hsl(55deg 73% 73%) 57%,
    hsl(151deg 100% 77%) 71%,
    hsl(170deg 97% 71%) 86%,
    hsl(183deg 100% 70%) 100%
  );
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}
